**/__pycache__
**/envs
**/logs
**/*.pth
log/face_pretrain/events.out.tfevents.1662540224.server121
log/face_pretrain/events.out.tfevents.1662540523.server121
log/face_pretrain/events.out.tfevents.1662540578.server121
log/face_pretrain/events.out.tfevents.1662540619.server121
log/face_pretrain/events.out.tfevents.1662540749.server121
log/face_pretrain/events.out.tfevents.1662540870.server121
log/face_pretrain/events.out.tfevents.1662541072.server121
log/face_pretrain/events.out.tfevents.1662541305.server121
log/face_pretrain/events.out.tfevents.1662541350.server121
log/face_pretrain/events.out.tfevents.1662541407.server121
log/face_pretrain/events.out.tfevents.1662602597.server121
log/face_pretrain/events.out.tfevents.1662610587.server121
log/face_pretrain/events.out.tfevents.1662647403.server121
log/face_pretrain/events.out.tfevents.1662647490.server121
log/face_pretrain/events.out.tfevents.1662648569.server121
log/face_pretrain/events.out.tfevents.1662648634.server121
log/face_pretrain/events.out.tfevents.1662649030.server121
log/face_pretrain/events.out.tfevents.1662649478.server121
log/face_pretrain/events.out.tfevents.1662649627.server121
log/face_pretrain/events.out.tfevents.1662678440.server121
log/face_pretrain/events.out.tfevents.1662708266.server121
log/face_pretrain/events.out.tfevents.1662708621.server121
log/face_pretrain/events.out.tfevents.1662708722.server121
log/face_pretrain/events.out.tfevents.1662708791.server121
log/face_pretrain/events.out.tfevents.1662708991.server121
log/face_pretrain/events.out.tfevents.1662709140.server121
log/face_pretrain/events.out.tfevents.1662709290.server121
log/face_pretrain/events.out.tfevents.1662709388.server121
log/face_pretrain/events.out.tfevents.1662722868.server121
log/face_pretrain/events.out.tfevents.1662723538.server121
log/face_pretrain/events.out.tfevents.1662723635.server121
log/face_pretrain/events.out.tfevents.1662725002.server121
log/face_pretrain/events.out.tfevents.1662725195.server121
log/face_pretrain/events.out.tfevents.1662813641.server121
log/face_pretrain_vivit/best_test_model.pth.tar
log/seq_pretrain/best_train_model_at_1.pth.tar
log/seq_pretrain/best_train_model_at_14.pth.tar
log/seq_pretrain/best_train_model_at_20.pth.tar
log/seq_pretrain/best_train_model_at_28.pth.tar
log/seq_pretrain/best_train_model_at_30.pth.tar
log/seq_pretrain/best_train_model_at_31.pth.tar
log/seq_pretrain/best_train_model_at_45.pth.tar
log/seq_pretrain/best_train_model_at_59.pth.tar
log/seq_pretrain/best_train_model_at_61.pth.tar
log/seq_pretrain/best_train_model_at_85.pth.tar
log/seq_pretrain/best_train_model_at_90.pth.tar
log/seq_pretrain/best_train_model_at_91.pth.tar
log/seq_pretrain/best_train_model_at_113.pth.tar
log/seq_pretrain/best_train_model_at_118.pth.tar
log/seq_pretrain/best_train_model_at_120.pth.tar
log/seq_pretrain/best_train_model_at_121.pth.tar
log/seq_pretrain/best_train_model_at_147.pth.tar
log/seq_pretrain/best_train_model_at_151.pth.tar
log/seq_pretrain/best_train_model_at_176.pth.tar
log/seq_pretrain/best_train_model_at_181.pth.tar
log/seq_pretrain/best_train_model_at_186.pth.tar
log/seq_pretrain/best_train_model_at_198.pth.tar
log/seq_pretrain/best_train_model_at_211.pth.tar
log/seq_pretrain/best_train_model_at_230.pth.tar
log/seq_pretrain/best_train_model_at_241.pth.tar
log/seq_pretrain/best_train_model_at_251.pth.tar
log/seq_pretrain/best_train_model_at_271.pth.tar
log/seq_pretrain/events.out.tfevents.1666311643.server121
log/seq_pretrain/events.out.tfevents.1666312035.server121
log/seq_pretrain/events.out.tfevents.1666313381.server121
log/seq_pretrain/events.out.tfevents.1666327936.server121
log/seq_pretrain/events.out.tfevents.1666328428.server121
log/seq_pretrain/events.out.tfevents.1666328454.server121
log/seq_pretrain/events.out.tfevents.1666328681.server121
log/seq_pretrain/events.out.tfevents.1666329114.server121
log/seq_pretrain/events.out.tfevents.1666329397.server121
log/seq_pretrain/events.out.tfevents.1666329666.server121
log/seq_pretrain/events.out.tfevents.1666330726.server121
log/seq_pretrain/events.out.tfevents.1666331457.server121
log/seq_pretrain/events.out.tfevents.1666331698.server121
log/seq_pretrain/events.out.tfevents.1666332052.server121
log/seq_pretrain/events.out.tfevents.1666332926.server121
log/seq_pretrain/events.out.tfevents.1666335200.server121
log/seq_pretrain/events.out.tfevents.1666335415.server121
log/seq_pretrain/events.out.tfevents.1666337613.server121
log/seq_pretrain/events.out.tfevents.1666338129.server121
tmp.txt
.vscode/launch.json
data
data/01-01
data/01-02
data/01-03
data/01-04
data/01-05
data/01-06
data/02-01
data/02-02
data/02-03
data/02-04
data/02-05
data/02-06
data/03-01
data/03-02
data/03-03
data/03-04
data/03-05
data/03-06
data/04-01
data/04-02
data/04-03
data/04-04
data/04-05
data/04-06
data/05-01
data/05-02
data/05-03
data/05-04
data/05-05
data/05-06
data/06-01
data/06-03
data/06-04
data/06-05
data/06-06
data/07-01
data/07-02
data/07-03
data/07-04
data/07-05
data/07-06
data/08-01
data/08-02
data/08-03
data/08-04
data/08-05
data/08-06
data/09-01
data/09-02
data/09-03
data/09-04
data/09-05
data/09-06
data/10-01
data/10-02
data/10-03
data/10-04
data/10-05
data/10-06
data/Sessions_2
data/Sessions_4
data/Sessions_6
data/Sessions_8
data/Sessions_10
data/Sessions_12
data/Sessions_14
data/Sessions_16
data/Sessions_18
data/Sessions_20
data/Sessions_22
data/Sessions_24
data/Sessions_26
data/Sessions_28
data/Sessions_30
data/Sessions_32
data/Sessions_34
data/Sessions_36
data/Sessions_38
data/Sessions_40
data/Sessions_132
data/Sessions_134
data/Sessions_136
data/Sessions_138
data/Sessions_140
data/Sessions_142
data/Sessions_144
data/Sessions_146
data/Sessions_148
data/Sessions_150
data/Sessions_152
data/Sessions_154
data/Sessions_156
data/Sessions_158
data/Sessions_160
data/Sessions_162
data/Sessions_164
data/Sessions_166
data/Sessions_168
data/Sessions_170
data/Sessions_262
data/Sessions_264
data/Sessions_266
data/Sessions_268
data/Sessions_270
data/Sessions_272
data/Sessions_274
data/Sessions_276
data/Sessions_278
data/Sessions_280
data/Sessions_282
data/Sessions_284
data/Sessions_286
data/Sessions_288
data/Sessions_290
data/Sessions_292
data/Sessions_294
data/Sessions_392
data/Sessions_394
data/Sessions_396
data/Sessions_398
data/Sessions_400
data/Sessions_402
data/Sessions_404
data/Sessions_406
data/Sessions_408
data/Sessions_410
data/Sessions_412
data/Sessions_414
data/Sessions_416
data/Sessions_418
data/Sessions_420
data/Sessions_422
data/Sessions_424
data/Sessions_426
data/Sessions_428
data/Sessions_430
data/Sessions_522
data/Sessions_524
data/Sessions_526
data/Sessions_528
data/Sessions_530
data/Sessions_532
data/Sessions_534
data/Sessions_536
data/Sessions_538
data/Sessions_540
data/Sessions_542
data/Sessions_544
data/Sessions_546
data/Sessions_548
data/Sessions_550
data/Sessions_552
data/Sessions_554
data/Sessions_556
data/Sessions_558
data/Sessions_560
data/Sessions_652
data/Sessions_654
data/Sessions_656
data/Sessions_658
data/Sessions_660
data/Sessions_662
data/Sessions_664
data/Sessions_666
data/Sessions_668
data/Sessions_670
data/Sessions_672
data/Sessions_674
data/Sessions_676
data/Sessions_678
data/Sessions_680
data/Sessions_682
data/Sessions_684
data/Sessions_686
data/Sessions_688
data/Sessions_690
data/Sessions_782
data/Sessions_784
data/Sessions_786
data/Sessions_788
data/Sessions_790
data/Sessions_792
data/Sessions_794
data/Sessions_796
data/Sessions_798
data/Sessions_800
data/Sessions_802
data/Sessions_804
data/Sessions_806
data/Sessions_808
data/Sessions_810
data/Sessions_812
data/Sessions_814
data/Sessions_816
data/Sessions_818
data/Sessions_820
data/Sessions_912
data/Sessions_914
data/Sessions_916
data/Sessions_918
data/Sessions_920
data/Sessions_922
data/Sessions_924
data/Sessions_926
data/Sessions_928
data/Sessions_930
data/Sessions_932
data/Sessions_934
data/Sessions_936
data/Sessions_938
data/Sessions_940
data/Sessions_942
data/Sessions_944
data/Sessions_946
data/Sessions_948
data/Sessions_950
data/Sessions_1042
data/Sessions_1044
data/Sessions_1046
data/Sessions_1048
data/Sessions_1050
data/Sessions_1052
data/Sessions_1054
data/Sessions_1056
data/Sessions_1058
data/Sessions_1060
data/Sessions_1062
data/Sessions_1064
data/Sessions_1066
data/Sessions_1068
data/Sessions_1172
data/Sessions_1174
data/Sessions_1176
data/Sessions_1178
data/Sessions_1180
data/Sessions_1182
data/Sessions_1184
data/Sessions_1186
data/Sessions_1188
data/Sessions_1190
data/Sessions_1192
data/Sessions_1194
data/Sessions_1196
data/Sessions_1198
data/Sessions_1200
data/Sessions_1202
data/Sessions_1204
data/Sessions_1206
data/Sessions_1208
data/Sessions_1210
data/Sessions_1302
data/Sessions_1304
data/Sessions_1306
data/Sessions_1308
data/Sessions_1310
data/Sessions_1312
data/Sessions_1314
data/Sessions_1316
data/Sessions_1318
data/Sessions_1320
data/Sessions_1322
data/Sessions_1324
data/Sessions_1326
data/Sessions_1328
data/Sessions_1330
data/Sessions_1332
data/Sessions_1334
data/Sessions_1336
data/Sessions_1338
data/Sessions_1340
data/Sessions_1562
data/Sessions_1564
data/Sessions_1566
data/Sessions_1568
data/Sessions_1570
data/Sessions_1572
data/Sessions_1574
data/Sessions_1576
data/Sessions_1578
data/Sessions_1580
data/Sessions_1582
data/Sessions_1584
data/Sessions_1586
data/Sessions_1588
data/Sessions_1590
data/Sessions_1592
data/Sessions_1594
data/Sessions_1596
data/Sessions_1598
data/Sessions_1600
data/Sessions_1692
data/Sessions_1694
data/Sessions_1696
data/Sessions_1698
data/Sessions_1700
data/Sessions_1702
data/Sessions_1704
data/Sessions_1706
data/Sessions_1708
data/Sessions_1710
data/Sessions_1712
data/Sessions_1714
data/Sessions_1716
data/Sessions_1718
data/Sessions_1720
data/Sessions_1722
data/Sessions_1724
data/Sessions_1726
data/Sessions_1728
data/Sessions_1730
data/Sessions_1952
data/Sessions_1954
data/Sessions_1956
data/Sessions_1958
data/Sessions_1960
data/Sessions_1962
data/Sessions_1964
data/Sessions_1966
data/Sessions_1968
data/Sessions_1970
data/Sessions_1972
data/Sessions_1974
data/Sessions_1976
data/Sessions_1978
data/Sessions_1980
data/Sessions_1982
data/Sessions_2082
data/Sessions_2084
data/Sessions_2086
data/Sessions_2088
data/Sessions_2090
data/Sessions_2092
data/Sessions_2094
data/Sessions_2096
data/Sessions_2098
data/Sessions_2100
data/Sessions_2102
data/Sessions_2104
data/Sessions_2106
data/Sessions_2108
data/Sessions_2110
data/Sessions_2112
data/Sessions_2114
data/Sessions_2116
data/Sessions_2118
data/Sessions_2120
data/Sessions_2212
data/Sessions_2214
data/Sessions_2216
data/Sessions_2218
data/Sessions_2220
data/Sessions_2222
data/Sessions_2224
data/Sessions_2226
data/Sessions_2228
data/Sessions_2230
data/Sessions_2232
data/Sessions_2234
data/Sessions_2236
data/Sessions_2238
data/Sessions_2240
data/Sessions_2242
data/Sessions_2244
data/Sessions_2246
data/Sessions_2248
data/Sessions_2250
data/Sessions_2342
data/Sessions_2344
data/Sessions_2346
data/Sessions_2348
data/Sessions_2350
data/Sessions_2352
data/Sessions_2354
data/Sessions_2356
data/Sessions_2358
data/Sessions_2360
data/Sessions_2362
data/Sessions_2364
data/Sessions_2366
data/Sessions_2368
data/Sessions_2370
data/Sessions_2372
data/Sessions_2374
data/Sessions_2376
data/Sessions_2378
data/Sessions_2380
data/Sessions_2472
data/Sessions_2474
data/Sessions_2476
data/Sessions_2478
data/Sessions_2480
data/Sessions_2482
data/Sessions_2484
data/Sessions_2486
data/Sessions_2488
data/Sessions_2490
data/Sessions_2492
data/Sessions_2494
data/Sessions_2496
data/Sessions_2498
data/Sessions_2500
data/Sessions_2502
data/Sessions_2504
data/Sessions_2506
data/Sessions_2508
data/Sessions_2510
data/Sessions_2602
data/Sessions_2604
data/Sessions_2606
data/Sessions_2608
data/Sessions_2610
data/Sessions_2612
data/Sessions_2614
data/Sessions_2616
data/Sessions_2618
data/Sessions_2620
data/Sessions_2622
data/Sessions_2624
data/Sessions_2626
data/Sessions_2628
data/Sessions_2630
data/Sessions_2632
data/Sessions_2634
data/Sessions_2636
data/Sessions_2638
data/Sessions_2640
data/Sessions_2732
data/Sessions_2734
data/Sessions_2736
data/Sessions_2738
data/Sessions_2740
data/Sessions_2742
data/Sessions_2744
data/Sessions_2746
data/Sessions_2748
data/Sessions_2750
data/Sessions_2752
data/Sessions_2754
data/Sessions_2756
data/Sessions_2758
data/Sessions_2760
data/Sessions_2762
data/Sessions_2764
data/Sessions_2766
data/Sessions_2768
data/Sessions_2770
data/Sessions_2862
data/Sessions_2864
data/Sessions_2866
data/Sessions_2868
data/Sessions_2870
data/Sessions_2872
data/Sessions_2874
data/Sessions_2876
data/Sessions_2878
data/Sessions_2880
data/Sessions_2882
data/Sessions_2884
data/Sessions_2886
data/Sessions_2888
data/Sessions_2890
data/Sessions_2892
data/Sessions_2894
data/Sessions_2896
data/Sessions_2898
data/Sessions_2900
data/Sessions_2992
data/Sessions_2994
data/Sessions_2996
data/Sessions_2998
data/Sessions_3000
data/Sessions_3002
data/Sessions_3004
data/Sessions_3006
data/Sessions_3008
data/Sessions_3010
data/Sessions_3012
data/Sessions_3014
data/Sessions_3016
data/Sessions_3018
data/Sessions_3020
data/Sessions_3022
data/Sessions_3024
data/Sessions_3026
data/Sessions_3028
data/Sessions_3030
data/Sessions_3122
data/Sessions_3124
data/Sessions_3126
data/Sessions_3128
data/Sessions_3130
data/Sessions_3132
data/Sessions_3134
data/Sessions_3136
data/Sessions_3138
data/Sessions_3140
data/Sessions_3142
data/Sessions_3144
data/Sessions_3146
data/Sessions_3148
data/Sessions_3150
data/Sessions_3152
data/Sessions_3154
data/Sessions_3156
data/Sessions_3158
data/Sessions_3160
data/Sessions_3382
data/Sessions_3384
data/Sessions_3386
data/Sessions_3388
data/Sessions_3390
data/Sessions_3392
data/Sessions_3394
data/Sessions_3396
data/Sessions_3398
data/Sessions_3400
data/Sessions_3402
data/Sessions_3404
data/Sessions_3406
data/Sessions_3408
data/Sessions_3410
data/Sessions_3412
data/Sessions_3414
data/Sessions_3416
data/Sessions_3418
data/Sessions_3420
data/Sessions_3512
data/Sessions_3514
data/Sessions_3516
data/Sessions_3518
data/Sessions_3520
data/Sessions_3522
data/Sessions_3524
data/Sessions_3526
data/Sessions_3528
data/Sessions_3530
data/Sessions_3532
data/Sessions_3534
data/Sessions_3536
data/Sessions_3538
data/Sessions_3540
data/Sessions_3542
data/Sessions_3544
data/Sessions_3546
data/Sessions_3548
data/Sessions_3550
data/Sessions_3642
data/Sessions_3644
data/Sessions_3646
data/Sessions_3648
data/Sessions_3650
data/Sessions_3652
data/Sessions_3654
data/Sessions_3656
data/Sessions_3658
data/Sessions_3660
data/Sessions_3662
data/Sessions_3664
data/Sessions_3666
data/Sessions_3668
data/Sessions_3670
data/Sessions_3672
data/Sessions_3674
data/Sessions_3676
data/Sessions_3678
data/Sessions_3680
data/Sessions_3772
data/Sessions_3774
data/Sessions_3776
data/Sessions_3778
data/Sessions_3780
data/Sessions_3782
data/Sessions_3784
data/Sessions_3786
data/Sessions_3788
data/Sessions_3790
data/Sessions_3792
data/Sessions_3794
data/Sessions_3796
data/Sessions_3798
data/Sessions_3800
data/Sessions_3802
data/Sessions_3804
data/Sessions_3806
data/Sessions_3808
data/Sessions_3810
data/subject1
data/subject3
data/subject4
data/subject5
data/subject8
data/subject9
data/subject10
data/subject11
data/subject12
data/subject13
data/subject14
data/subject15
data/subject16
data/subject17
data/subject18
data/subject20
data/subject22
data/subject23
data/subject24
data/subject25
data/subject26
data/subject27
data/subject30
data/subject31
data/subject32
data/subject33
data/subject34
data/subject35
data/subject36
data/subject37
data/subject38
data/subject39
data/subject40
data/subject41
data/subject42
data/subject43
data/subject44
data/subject45
data/subject46
data/subject47
data/subject48
data/subject49
log/face_pretrain/best_test_model.pth.tar
path/to/your/log/test_output.log
data/01-01
data/01-01
